# default ignore files from Symfony setup
/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/

# build artifacts
cache.properties
build/
node_modules/
web/bower_components/
b
bp


# database used for testing / demo-deployment
app/expenses.db3

# misc
TODO.md
