<?xml version="1.0" encoding="UTF-8"?>
<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
    backupGlobals               = "false"
    backupStaticAttributes      = "false"
    bootstrap                   = "app/bootstrap.php.cache"
    colors                      = "false"
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "true"
    convertWarningsToExceptions = "true"
    processIsolation            = "false"
    stopOnFailure               = "false"
    syntaxCheck                 = "true"
    verbose="true"
>

    <php>
        <server name="KERNEL_DIR" value="./app/" />
        <ini name="memory_limit" value="-1" />

        <!-- http://www.kraken.no/blog/2013/04/22/phpunit-speedups/ -->
        <ini name="xdebug.default_enable" value="1" />
        <ini name="xdebug.enable_coverage" value="1" />
        <ini name="xdebug.overload_var_dump" value="0" />
        <ini name="xdebug.remote_autostart" value="0" />
        <ini name="xdebug.remote_enable" value="0" />
        <ini name="xdebug.show_mem_delta" value="0" />
    </php>

    <testsuites>
        <testsuite name="Bundles Test Suite">
            <directory>./src/*/*Bundle/Tests</directory>
            <directory>./src/*/Bundle/*Bundle/Tests</directory>
            <directory>./tests/</directory>
            <exclude>./src/Acme/</exclude>
            <exclude>./app/cache/</exclude>
            <exclude>./app/logs/</exclude>
            <exclude>./vendor/</exclude>
        </testsuite>
    </testsuites>

    <listeners>
        <!-- close any expectations, report issues -->
        <listener class="\Mockery\Adapter\Phpunit\TestListener"/>
        <!-- if a test takes 'too long', raise an error -->
        <listener class="Application_Test_TestTimesListener" file="./tests/Scripts/TestTimesListener.php"/>
        <!-- https://github.com/mybuilder/phpunit-accelerator -->
        <listener class="\MyBuilder\PhpunitAccelerator\TestListener"></listener>
        <listeners>
            <listener class="JohnKary\PHPUnit\Listener\SpeedTrapListener" />
        </listeners>
    </listeners>

    <filter>
        <blacklist>
            <directory>./.samicache/</directory>
            <directory>./app/cache/</directory>
            <directory>./app/logs/</directory>
            <directory>./bin</directory>
            <directory>./build/</directory>
            <directory>./src/Acme/</directory>
            <directory>./tests/Scripts/</directory>
            <directory>./tests/src</directory>
            <directory>./vendor/</directory>
        </blacklist>

        <whitelist>
            <directory>./app</directory>
            <directory>./src</directory>
            <exclude>
                <directory>./app/cache/</directory>
                <directory>./src/*/*Bundle/Resources</directory>
                <directory>./src/*/*Bundle/Tests</directory>
                <directory>./vendor/</directory>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" charset="UTF-8" target="./build/coverage" title="CA.Symfony" />
        <!-- <log type="coverage-clover" target="./build/logs/clover.xml" />
        <log type="coverage-crap4j" target="./build/logs/crap4j.xml"/>
        <log type="junit" target="./build/logs/junit.xml" logIncompleteSkipped="false" />
        <log type="coverage-xml" target="./build/logs/coverage/xml"/> -->
    </logging>

    <groups>
        <include/>
        <exclude>
            <group>huge</group>
        </exclude>
    </groups>

</phpunit>
