<div class="row">
  <div class="col-md-6">
    <h1>About Alister</h1>

    <p>I'm a LAMP-stack development and devops specialist, that loves to keep up with technology and write some really elegant software code, and technologies to help my sites handle large scale and large numbers of users.</p>

    <p>I’ve been programming since 1981 at school, with machines/languages as diverse as ZX81 Basic (aka Timex 1000), Z80a assembler, BBC Basic/6502, Pascal (MS &amp; Turbo), C (learnt from the original K&amp;R book) and some Perl. I’ve been programming – and getting paid for it – since 1987 in companies that did everything from BIOSes to county-wide library systems on a Mini computer with serial terminals. In 1996, I started developing websites, and it was a natural move as a programmer to move into some Perl and mostly PHP (then still at version 3) for more complex, database backed websites.</p>
  </div>

  <div class="col-md-6" style="margin-top: 21px">
    <a href="http://stackexchange.com/users/4189"><img src="http://stackexchange.com/users/flair/4189.png" width="208" height="58" alt="profile for Alister Bulman on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for Alister Bulman on Stack Exchange, a network of free, community-driven Q&amp;A sites"></a>
    <a href="http://stackoverflow.com/users/6216/alister-bulman"><img src="http://stackoverflow.com/users/flair/6216.png" width="208" height="58" alt="profile for Alister Bulman at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Alister Bulman at Stack Overflow, Q&amp;A for professional and enthusiast programmers"></a>

    <p></p>

    <ul><li><a href="http://abulman.co.uk/">abulman.co.uk</a></li>
        <li><a href="http://stackoverflow.com/users/6216/alister-bulman">Alister on Stackoverflow</a> (main profile, for stats),
            <strong>Top 3% overall</strong></li>
        <li><a href="http://careers.stackoverflow.com/alister">Stack overflow careers profile</a></li>
        <li>Blogs
            <ul><li><a href="http://phpscaling.com/">PHP Scaling</a></li>
                <li><a href="http://alister.github.io/">General tech</a></li>
            </ul>
        </li>
        <li><a href="http://alister.github.io/presentations/">Presentations</a> at 
            <a href="http://phplondon.org/">PHP London</a> and London Scalability Group meetups</li>
    </ul>

  </div>

<a href="#home" class="btn btn-primary">home</a>
</div>
