<!--  partials/demo.html  -->
<h5>demo.html</h5>

<!-- Search: <input ng-model="query">
Sort by:
<select ng-model="orderProp">
  <option value="name">Alphabetical</option>
  <option value="age">Newest</option>
</select>

 | filter:query | orderBy:orderProp

 -->

<table>
    <thead>
        <th>Created at</th>
        <th>Amount</th>
        <th>Description</th>
        <th>Comment</th>
    </thead>
    <tbody>
    <tr ng-repeat="line in expenseLines">
        <td>{{line.created_at|date }}</td>
        <td>{{line.amount|currency}}</td>
        <td>{{line.description }}</td>
        <td>{{line.comment }}</td>
    </tr>
    </tbody>
</table>
</ul>
