<!--  partials/demo.html  -->
<h3>Please update your recent expenses</h3>

<!-- Search: <input ng-model="query">
Sort by:
<select ng-model="orderProp">
  <option value="name">Alphabetical</option>
  <option value="age">Newest</option>
</select>

 | filter:query | orderBy:orderProp

 -->

<table ng-table="tableParams" class="table">
    <thead>
        <td><strong>Date</strong></td>
        <td><strong>Amount</strong></td>
        <td><strong>Description</strong></td>
        <td><strong>Comment</strong></td>
        <td>actions</td>
    </thead>

    <tbody>
        <tr>
            <td><input class="form-control" type="date"   ng-model="line.created_at"  required></td>
            <td><input class="form-control" type="number" ng-model="line.amount"      required></td>
            <td><input class="form-control" type="text"   ng-model="line.description" required></td>
            <td><input class="form-control" type="text"   ng-model="line.comment"             ></td>
            <td>add</td>
        </tr>
        <tr ng-repeat="line in expenses">
            <!-- @todo http://angular-ui.github.io/bootstrap/ datepicker popup for edit -->
            <p>{{line.created_at}}</p>
            <td data-title="'Date'" width="200">
                <span ng-if="!line.$edit">{{line.created_at|date:'dd MMMM yyyy'}}</span>
                <div ng-if="line.$edit"><input class="form-control" type="date" ng-model="line.created_at" /></div>
            </td>
            <td data-title="'Amount'">
                <span ng-if="!line.$edit">{{line.amount | currency:"£":3}}</span>
                <div ng-if="line.$edit"><input class="form-control" type="number" ng-model="line.amount" min="0.01" max="999.99" /></div>
            </td>
            <td data-title="'Description'">
                <span ng-if="!line.$edit">{{line.description}}</span>
                <div ng-if="line.$edit"><input class="form-control" type="text" ng-model="line.description" /></div>
            </td>
            <td data-title="'Comment'">
                <span ng-if="!line.$edit">{{line.comment}}</span>
                <div ng-if="line.$edit"><input class="form-control" type="text" ng-model="line.comment" /></div>
            </td>
            <td data-title="'Actions'" width="200">
                <a ng-if="!line.$edit" href="" class="btn btn-default btn-xs" ng-click="line.$edit = true">Edit</a>
                <a ng-if="line.$edit" href="" class="btn btn-primary btn-xs" ng-click="line.$edit = false">Save</a>
            </td>
        </tr>
    </tbody>
</table>
