<div class="container">
    <div class="row">
        <div class="col-xs-12"></div>
            <h1>Login or create a new account</h1>
            <p class="lead">
                <button ua-oauth-link="google" class="btn btn-lg btn-google"><i class="fa fa-google"></i> Create New Account</button>
                <button ua-oauth-link="google" class="btn btn-lg btn-google"><i class="fa fa-google"></i> Login with Google</button>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12"></div>
            <h1>Other pages:</h1>
            <ul>
                <li><a href="/about#top">About 'Expenses'</a></li>
                <li><a href="/alister#top">About Alister</a></li>
            </ul>
        </div>
    </div>

</div>
