<div class="row">
  <div class="col-md-8">

        <h1>About the Expenses test project</h1>

        <h2>Requirements</h2>
        <!-- <p>blah, blah</p> -->

        <p>The first thing we’d like you to do after you read the project description is to estimate how long it will take you to complete, and then to make a promise to your interviewer that you will deliver it by a particular date.</p>

        <p>Please bear in mind that you will need to show a finished project at this interview, however you can contact the interviewer at any time before the due date to clarify any aspect of it.</p>

        <p>Just as a reminder, the requirements for the test project are:</p>

        <h3>Write a simple expenses tracker web application</h3>

        <ul>
            <li>The user must be able to create an account and log in.</li>
            <li>When logged in, user can see, edit and delete expenses he entered.</li>
            <li>When entered, each expense has: date, time, description, amount, comment</li>
            <li>User can filter expenses.</li>
            <li>User can print expenses per week with total amount and average day spending.</li>
            <li>Minimal UI/UX design is needed.</li>
            <li>I need every client operation done using JavaScript, reloading the page is not an option.</li>
            <li>REST API. Make it possible to perform all user actions via the API, including authentication (If a mobile application and you don’t know how to create your own backend you can use Parse.com, Firebase.com or similar services to create the API).</li>
            <li>You need to be able to pass credentials to both the webpage and the API.</li>
            <li>In any case you should be able to explain how a REST API works and demonstrate that by creating functional tests that use the REST Layer directly.</li>
            <li>Bonus: unit tests!</li>
            <li>You will not be marked on graphic design, however, do try to keep it as tidy as possible.</li>
        </ul>

        <p>NOTE: Please keep in mind that this is the project that will be used to evaluate your skills. The project will be evaluated as if you are delivering it to a customer. We expect you to make sure that the app is fully functional and doesn’t have any obvious missing pieces. The deadline for the project is 2 weeks from today.</p>

        <p>Please use this private repository to version-control your code:</p>
        <ul>
            <li>http://git.toptal.com/Alister-Bulman/alister-bulman</li>
            <li>Username: Alister-Bulman</li>
            <li>Password: ********</li>
        </ul>

        <hr>
        <a href="#home" class="btn btn-primary">home</a>
    </div>
</div>
