<div class="row">
  <div class="col-md-6">
    <h1>About Alister</h1>

    <p>I'm a LAMP-stack development and devops specialist, that loves to keep up with technology and write some really elegant software code, and technologies to help my sites handle large scale and large numbers of users.</p>

    <p>My skills are almost entirely back-end, writing code, mostly in PHP, designing architectures that can scale, setting up and administrating servers, and optimising databases and code. For any code that could be complex, I aim for a unit-test driven approach, with tools such as <a href="https://phpunit.de/manual/current/en/">PHPunit</a>, <a href="http://docs.behat.org/en/latest/">Behat</a> (and not just for web-driven tests), and other tools that support them, like <a href="http://docs.mockery.io/en/latest/">Mockery</a>.</p>

    <p>I’ve been programming since 1981 at school, with machines/languages as diverse as ZX81 Basic (aka Timex 1000), Z80a assembler, BBC Basic/6502, Pascal (MS &amp; Turbo), C (learnt from the original K&amp;R book) and some Perl. I’ve been programming – and getting paid for it – since 1987 in companies that did everything from BIOSes to county-wide library systems on a Mini computer with serial terminals. In 1996, I started developing websites - initially just simple static and then hundreds of pages generated generated automatically from data. It was a natural move as a programmer to move into some Perl and then mostly PHP (then still at version 3, along with MySQL) for more complex, database backed websites.</p>
  </div>

  <div class="col-md-6" style="margin-top: 42px">
    <a href="http://stackexchange.com/users/4189"><img src="http://stackexchange.com/users/flair/4189.png" width="208" height="58" alt="profile for Alister Bulman on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for Alister Bulman on Stack Exchange, a network of free, community-driven Q&amp;A sites"></a>
    <a href="http://stackoverflow.com/users/6216/alister-bulman"><img src="http://stackoverflow.com/users/flair/6216.png" width="208" height="58" alt="profile for Alister Bulman at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Alister Bulman at Stack Overflow, Q&amp;A for professional and enthusiast programmers"></a>

    <ul><li><a href="http://abulman.co.uk/">abulman.co.uk</a></li>
        <li><a href="http://stackoverflow.com/users/6216/alister-bulman" title="Personal profile, for stats">Alister on Stackoverflow</a>,
            <strong>Top 3% overall, worldwide</strong></li>
        <li><a href="http://careers.stackoverflow.com/alister">Stack overflow careers profile</a></li>
        <li>Blogs
            <ul><li><a href="http://phpscaling.com/">PHP Scaling</a></li>
                <li><a href="http://alister.github.io/">General tech</a></li>
            </ul>
        </li>
        <li><a href="http://alister.github.io/presentations/">Presentations</a> at 
            <a href="http://phplondon.org/">PHP London</a> and London Scalability Group meetups</li>
    </ul>

    <h3>Highlights</h3>
    <dl><dt>10,000 concurrent users</dt>
        <dd>I took a system that had crashed, and stayed down for days under a sudden influx of users, and 
        optimised it for over 10,000 concurrent players, and being advertised on multiple television channels 
        at the same time. I particularly enjoyed using Memcached as a temporary rate-limiting system. (Now, I'd
        likely use Redis, but that wasn't available in Summer 2010).</dd>

        <dt>Queue Driven async tasks</dt>
        <dd>Optimised queue runners to be at least 5, or 10 times more efficient of server resources - they 
        went from running once per minute to ten times or more). Organised other job-workers to fetch millions 
        of records from Twitter for processing, allowing for the possibility of high-priority tasks to jump 
        the queue for immediate processing.</dd>
    </dl>

  </div>
</div>

<div class="row">
    <div class="col-md-12">
        <hr>
        <a href="#home" class="btn btn-primary">home</a>
    </div>
</div>
