<div class="col-md-10 offset-2">
    <div>

    <h3>Select a date range to narrow the list of expenses</h3>
    <p>Length: 'expenses' *{{expenses.length}}*, params: {{paramsObj}}</p>

    <table>
      <tr>
        <td>
            <datepicker ng-model='activeDate' multi-select='selectedDates' select-range='true'><datepicker>
        </td>
        <td style='width:50px'></td>
        <td id="dateRangeChoice">
          <div ng-if='type=="range"' >
            Selected Range: 
            <div class='well well-sm'>
              {{(selectedDates | orderBy)[0] | date:"fullDate"}}
              <span ng-if='selectedDates.length > 1'>
                - {{(selectedDates | orderBy : '-')[0] | date:"fullDate"}}
              </span>
            </div>
            <p><a ng-click='filterByTimestamps(selectedDates)' class="btn btn-primary">Filter expenses</a></p>
          </div>
        </td>
      </tr>
    </table>

    </div>
</div>
