<nav class='navbar navbar-default'>
    <div class='container-fluid'>
        <ul class='nav navbar-nav'>
            <li ng-class='{ active: PAGE === "all" }'><a href='/expenses'> All Expenses </a></li>
            <li ng-class='{ active: PAGE === "new" }'><a href='/expense/new'> New Expense </a></li>
            <li ng-class='{ active: PAGE === "filter" }'><a href='/expense/filter'> Filter Expenses </a></li>
        </ul>
        <!-- <ul class='nav navbar-nav navbar-right'>
            <li><a href='/logout' target='_self'> Log Out </a></li>
        </ul> -->
    </div>
</nav>
