<table class='table table-hover table-bordered' ng-model='weekly-summary'>
    <thead>
        <tr>
            <td>Length: 'expenses' *{{expenses.length}}*, params: {{paramsObj}}</td>
        </tr>
        <tr>
            <th ng-repeat='field in fields' ng-click='sort(field)'>
                {{ fieldNames[$index] }}
                <span ng-show='sort.field === field  && !sort.order' class='glyphicon glyphicon-chevron-down'></span>
                <span ng-show='sort.field === field  && sort.order' class='glyphicon glyphicon-chevron-up'></span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat='expense in expenses | filter: query | orderBy: sort.field : sort.order'>
            <td>{{ expense.created_at|date }}</td>
            <td>{{ expense.amount|currency }}</td>
            <td>{{ expense.description }}</td>
            <td>{{ expense.comment }}</td>
            <td><a ng-click='show(expense.id)' class="btn btn-default btn-xs">Edit</a></td>
        </tr>
    </tbody>
</table>
