<h2>Weekly summary of expenses</h2>
<h3>and per-day averages</h3>

<table class='table table-hover table-bordered' ng-model='weeklySummary'>
    <thead>
        <tr>
            <td>Week Beginning</td>
            <td>Total Spent</td>
            <td>Average spent per day</td>             
        </tr>
    </thead>
    <tbody>
        <!-- <tr><td colspan="3">{{weeklySpend}}, {{weeklySummary}}</td></tr> -->

        <tr ng-repeat='spend in weeklySpend | filter: query | orderBy: sort.field : sort.order'>
            <td>{{ spend.weekStart|date }}</td>
            <td>{{ spend.total|currency }}</td>
            <td>{{ spend.avgDay|currency  }}</td>
        </tr>
    </tbody>
</table>


<!--
was in the tbody.tr
 ng-click='filterSpendByDate(spend)' -->
