<h2>Weekly summary of expenses</h2>
<h3>and per-day averages</h3>

<table class='table table-hover table-bordered' ng-model='weeklySummary'>
    <thead>
        <tr>
            <td>Week Beginning</td>
            <td>Number of claims</td>
            <td>Total Spent</td>
            <td>Average spent per day</td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat='spend in weeklySpend | filter: query | orderBy: sort.field : sort.order'
            ng-click='filterSpendByDate(spend)'>
            <td>{{ spend.startOfWeek|date:'mediumDate' }}</td>
            <td>{{ spend.Qty  }}</td>
            <td>{{ spend.totAmount|currency }}</td>
            <td>{{ spend.avgAmount|currency }} (<ng-pluralize count="spend.numDaysSpent"
                                            when="{'0': '.',
                                                'one': '1 Day',
                                                'other': '{} Days'}"></ng-pluralize>)
            </td>
        </tr>
    </tbody>
</table>
<p>Click the individual rows to show the breakdown of expenses.</p>


<!--
was in the tbody.tr
 ng-click='filterSpendByDate(spend)' -->
