{% extends 'AppBundle::base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="span12" ng-controller="ExpensesCtrl">
            <ng-view></ng-view>
        </div>
    </div>

</div><!-- /.container -->
{% endblock %}
