/* expensesApp */
option,input {
    color: black;
}

/* from http://getbootstrap.com/examples/navbar-static-top/navbar-static-top.css */
body {
  min-height: 2000px;
}

.navbar-static-top {
  margin-bottom: 19px;
}

.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }

/* https://github.com/spongessuck/gm.datepickerMultiSelect/ demo */
td#dateRangeChoice { vertical-align: top; }
